body{
    background-color: rgb(162, 162, 175);
}
.menu{
    background-color: rgb(14, 16, 56);
    color: white;
    font-weight: 600;
}
.nav-c{
    list-style: none;
    font-size: 1.5rem;
}
.nav-link-c{
    margin-bottom: 9px;
}

.nav-link-c:hover{
    color: gray;
}
.search{
    background-color: rgb(194, 194, 207);
    border: 0px;
    border-radius: 15px;
    width:100%
}
.top{
    background-color: white;
    box-shadow: 0px 6px 23px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 23px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 23px -10px rgba(0,0,0,0.75);
}
.content{
    margin-top: 18px;
}

.profile-pic{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.profile-pic-xl{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50px;
}

.btn-main{
    border: solid 0px rgb(14, 16, 56);
    border-radius: 30px;
    color: white;
    background-color: rgb(14, 16, 56);
    padding: 10px 25px 10px 25px;
}
.btn-main{
    border: solid 2px rgb(14, 16, 56) !important;
}

.card-border{

    border-left: 7px solid;
    border-color: #8781FE;
    border-radius: 6px;
}

.icons{
    
    color: #8781FE;
}

.icons:hover{
    color: rgb(14, 16, 56);
}
.grow{
    -webkit-transform: perspective(1px) translateZ(0);
    backface-visibility: hidden;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.grow:hover, .grow:focus, .grow:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}